In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt
import seaborn as sns
plt.style.use('ggplot')

I. Chuẩn bị và tiền xử lý dữ liệu 
Bộ dữ liệu các khoản vay ngang hàng P2P của Bondora năm 2018-2022

In [2]:
Data=pd.read_csv("Loan_Data.csv")
Data.head(15)

C:\Users\ACER\AppData\Local\Temp\ipykernel_2588\2454112103.py:1: DtypeWarning: Columns (89,105,108) have mixed types. Specify dtype option on import or set low_memory=False.
  Data=pd.read_csv("Loan_Data.csv")

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,10/22/2023 0:00,836E1ABB-9D6F-4AAA-BB7D-AC9800D39249,2141449,12/21/2020 11:11,12/21/2020 13:11,224,0,262,{A33597DE-EBDE-477C-807F-A362013AF346},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
1,10/22/2023 0:00,6F99A063-3AFA-4E0F-A29A-ACFE01134FB5,2215884,4/2/2021 13:45,4/2/2021 16:45,0,0,41,{4FF25805-096A-4855-8331-ACFE01134F1A},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
2,10/22/2023 0:00,6387EED5-CE06-4B06-ADEE-ACAC013206ED,2152674,1/10/2021 18:18,1/10/2021 20:18,27,0,14,{E944D178-E39B-4D39-9CE3-AB930153B00E},False,...,0.0,7/20/2021 0:00,9/20/2021 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10/22/2023 0:00,55A06196-AF5E-4D5B-AEC8-ACE800713814,2197030,3/11/2021 8:25,3/11/2021 10:25,32,0,9,{E944D178-E39B-4D39-9CE3-AB930153B00E},False,...,0.0,7/20/2021 0:00,9/20/2021 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/22/2023 0:00,EE4E7640-FF36-4C7F-AB3F-AD7B0076BDA2,2326664,8/5/2021 4:14,8/5/2021 7:14,117,3,44,{4FF25805-096A-4855-8331-ACFE01134F1A},False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
5,10/22/2023 0:00,5AC28633-4844-4546-B64E-AA4600112EFE,1078323,5/6/2019 22:13,5/7/2019 1:13,177,0,191,{9AC74BB7-1B7E-4043-A384-A53200CF8449},False,...,0.0,10/14/2021 0:00,5/16/2022 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10/22/2023 0:00,091F454E-19C0-4AC9-B3F0-AD150126AB31,2233799,4/25/2021 15:14,4/25/2021 18:14,435,4,101,{BC4FBEEF-745C-4575-9639-A21000117105},False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10/22/2023 0:00,A438E0BC-8591-43AC-9487-AC68004D5577,2114468,11/3/2020 18:53,11/3/2020 20:53,447,1,1,{5EECE16E-B62D-4BC4-B2F0-A9E5018A7936},False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10/22/2023 0:00,D0F2FE28-A8E3-4EA2-805B-ADF500AE374E,2483028,12/5/2021 8:43,12/5/2021 10:43,165,1,129,{82B96770-BB4E-4390-8C5D-A8A6007AFCF4},False,...,0.0,9/4/2023 0:00,8/5/2024 0:00,11/3/2023 0:00,3.0,131.0,8/3/2023 0:00,NaN,NaN,NaN
9,10/22/2023 0:00,D4CB3152-C004-473F-812F-AD5800E5B321,2296103,7/1/2021 10:59,7/1/2021 13:59,0,0,77,{82B96770-BB4E-4390-8C5D-A8A6007AFCF4},False,...,0.0,9/4/2023 0:00,8/5/2024 0:00,11/3/2023 0:00,3.0,131.0,8/3/2023 0:00,NaN,NaN,NaN
10,10/22/2023 0:00,B958B543-1C70-453F-A0D7-ADAC00AD009E,2371629,9/23/2021 7:31,9/23/2021 10:31,9,0,68,{82B96770-BB4E-4390-8C5D-A8A6007AFCF4},False,...,0.0,9/4/2023 0:00,8/5/2024 0:00,11/3/2023 0:00,3.0,131.0,8/3/2023 0:00,NaN,NaN,NaN
11,10/22/2023 0:00,ECAB20E9-56C6-4BFF-913E-AE8E012E0EF9,2768475,5/7/2022 15:25,5/7/2022 18:25,18,0,0,{82B96770-BB4E-4390-8C5D-A8A6007AFCF4},False,...,0.0,9/4/2023 0:00,8/5/2024 0:00,11/3/2023 0:00,3.0,131.0,8/3/2023 0:00,NaN,NaN,NaN
12,10/22/2023 0:00,62D16EDE-25B1-44FE-96D4-A90E00B0905C,847024,6/29/2018 7:44,6/29/2018 10:44,464,0,516,{A0DBC5FD-D12F-4AA4-83DD-A71C011EAEF6},False,...,0.0,10/27/2022 0:00,10/27/2023 0:00,NaN,0.0,141.0,10/12/2022 0:00,0.0,157.64,45153
13,10/22/2023 0:00,81915139-D500-44BA-A617-A885007B723B,778398,2/12/2018 5:49,2/12/2018 7:49,1043,0,17,{A0DBC5FD-D12F-4AA4-83DD-A71C011EAEF6},False,...,0.0,10/27/2022 0:00,10/27/2023 0:00,NaN,0.0,141.0,10/12/2022 0:00,0.0,55.12,45153
14,10/22/2023 0:00,7DBB0F99-F195-4ED6-B070-A8C10005B9D1,809290,4/12/2018 21:33,4/13/2018 0:33,3295,10,689,{A0DBC5FD-D12F-4AA4-83DD-A71C011EAEF6},False,...,0.0,10/27/2022 0:00,10/27/2023 0:00,NaN,0.0,141.0,10/12/2022 0:00,0.0,219.25,45153

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot  as plt
import string
import seaborn as sns
plt.style.use('ggplot')
import warnings
warnings.filterwarnings("ignore")
dtypes = pd.DataFrame(Data.dtypes,columns=["Data Type"])

dtypes["Unique Values"]=Data.nunique()

dtypes["Null Values"]=Data.isnull().sum()

dtypes["% null Values"]=Data.isnull().sum()/len(Data)

dtypes.sort_values(by="Null Values" , ascending=False).style.background_gradient(cmap='YlOrRd',axis=0)

In [3]:
print(Data.shape)
Data.info()

(222765, 112)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222765 entries, 0 to 222764
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(49), int64(32), object(28)
memory usage: 185.9+ MB

In [14]:
Data.isnull().sum()

ReportAsOfEOD                               0
LoanId                                      0
LoanNumber                                  0
ListedOnUTC                                 0
BiddingStartedOn                            0
                                        ...
NrOfScheduledPayments                   97499
ReScheduledOn                          131002
PrincipalDebtServicingCost             166411
InterestAndPenaltyDebtServicingCost    166411
ActiveLateLastPaymentCategory          126158
Length: 112, dtype: int64

In [15]:
Data.dtypes

ReportAsOfEOD                           object
LoanId                                  object
LoanNumber                               int64
ListedOnUTC                             object
BiddingStartedOn                        object
                                        ...
NrOfScheduledPayments                  float64
ReScheduledOn                           object
PrincipalDebtServicingCost             float64
InterestAndPenaltyDebtServicingCost    float64
ActiveLateLastPaymentCategory           object
Length: 112, dtype: object

In [16]:
Data.info()
Data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222765 entries, 0 to 222764
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(49), int64(32), object(28)
memory usage: 185.9+ MB

(222765, 112)

In [4]:
duplicates = Data.duplicated().sum()
if duplicates == 0:
    print("Không có dòng nào trùng lặp trong dữ liệu")
else:
    print('Có: ', str( duplicates )," dòng bị trùng lặp")

Không có dòng nào trùng lặp trong dữ liệu

Thực hiện xóa các cột NULL và các cột không có ý nghĩa

In [5]:
missing_col=[]
for i in Data.columns:
    if Data[i].isnull().sum() >= (40*226765)/100:
        missing_col.append(i)
missing_col

['ContractEndDate',
 'DateOfBirth',
 'County',
 'City',
 'NrOfDependants',
 'EmploymentPosition',
 'WorkExperience',
 'PlannedPrincipalTillDate',
 'CurrentDebtDaysPrimary',
 'DebtOccuredOn',
 'CurrentDebtDaysSecondary',
 'DebtOccuredOnForSecondary',
 'DefaultDate',
 'PlannedPrincipalPostDefault',
 'PlannedInterestPostDefault',
 'EAD1',
 'EAD2',
 'PrincipalRecovery',
 'InterestRecovery',
 'EL_V0',
 'Rating_V0',
 'EL_V1',
 'Rating_V1',
 'Rating_V2',
 'ActiveLateCategory',
 'CreditScoreEsEquifaxRisk',
 'CreditScoreFiAsiakasTietoRiskGrade',
 'CreditScoreEeMini',
 'PrincipalWriteOffs',
 'InterestAndPenaltyWriteOffs',
 'InterestAndPenaltyBalance',
 'PreviousRepaymentsBeforeLoan',
 'PreviousEarlyRepaymentsBefoleLoan',
 'GracePeriodStart',
 'GracePeriodEnd',
 'NextPaymentDate',
 'NextPaymentNr',
 'NrOfScheduledPayments',
 'ReScheduledOn',
 'PrincipalDebtServicingCost',
 'InterestAndPenaltyDebtServicingCost',
 'ActiveLateLastPaymentCategory']

Kiểm tra những cột có giá trị null lớn hơn 40%, đánh giá thấy trong số các cột DebtOccuredOn',
 'CurrentDebtDaysSecondary', 'DebtOccuredOnForSecondary', 'DefaultDate', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery', 'InterestRecovery','RecoveryStage','StageActiveSince',... là những cột có ý nghĩa thống kê, giá trị null là những giá trị không có tại các cột đánh giá nên có thể null, các cột không có khả năng đánh giá và sử dụng tiến hành loại bỏ.

In [6]:
drop_cols=['ReportAsOfEOD',
 'ListedOnUTC','DateOfBirth','IncomeFromPrincipalEmployer', 'IncomeFromPension','ContractEndDate','County','City','NrOfDependants','EmploymentPosition','WorkExperience',
       'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
       'IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther','PlannedPrincipalTillDate','PlannedInterestTillDate',"NextPaymentNr","ModelVersion","EL_V0","Rating_V0","EL_V1","Rating_V1",
        "Rating_V2","ActiveLateCategory","CreditScoreEsEquifaxRisk","NextPaymentDate","NrOfScheduledPayments",
        "ReScheduledOn","PreviousEarlyRepaymentsBefoleLoan","PrincipalDebtServicingCost", "InterestAndPenaltyDebtServicingCost", "ActiveLateLastPaymentCategory"]
Data.drop(drop_cols,axis=1, inplace= True)

In [7]:
Data.head()

,LoanId,LoanNumber,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,...,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd
0,836E1ABB-9D6F-4AAA-BB7D-AC9800D39249,2141449,12/21/2020 13:11,224,0,262,{A33597DE-EBDE-477C-807F-A362013AF346},True,12/21/2020 12:50,12/21/2020 0:00,...,0.0,62.03,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN
1,6F99A063-3AFA-4E0F-A29A-ACFE01134FB5,2215884,4/2/2021 16:45,0,0,41,{4FF25805-096A-4855-8331-ACFE01134F1A},True,4/2/2021 16:42,4/2/2021 0:00,...,0.0,2.47,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN
2,6387EED5-CE06-4B06-ADEE-ACAC013206ED,2152674,1/10/2021 20:18,27,0,14,{E944D178-E39B-4D39-9CE3-AB930153B00E},False,1/10/2021 18:34,1/10/2021 0:00,...,NaN,NaN,0.0,0.0,2.0,1062.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
3,55A06196-AF5E-4D5B-AEC8-ACE800713814,2197030,3/11/2021 10:25,32,0,9,{E944D178-E39B-4D39-9CE3-AB930153B00E},False,3/11/2021 6:52,3/11/2021 0:00,...,NaN,NaN,0.0,0.0,3.0,1593.0,570.26,0.0,7/20/2021 0:00,9/20/2021 0:00
4,EE4E7640-FF36-4C7F-AB3F-AD7B0076BDA2,2326664,8/5/2021 7:14,117,3,44,{4FF25805-096A-4855-8331-ACFE01134F1A},False,8/5/2021 7:12,8/5/2021 0:00,...,0.0,16.99,0.0,NaN,1.0,531.0,54.61,0.0,NaN,NaN

In [21]:
print(Data.shape)
Data.info()

(222765, 78)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222765 entries, 0 to 222764
Data columns (total 78 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   LoanId                                  222765 non-null  object
 1   LoanNumber                              222765 non-null  int64
 2   BiddingStartedOn                        222765 non-null  object
 3   BidsPortfolioManager                    222765 non-null  int64
 4   BidsApi                                 222765 non-null  int64
 5   BidsManual                              222765 non-null  int64
 6   PartyId                                 222765 non-null  object
 7   NewCreditCustomer                       222765 non-null  bool
 8   LoanApplicationStartedDate              222765 non-null  object
 9   LoanDate                                222765 non-null  object
 10  FirstPaymentDate                        222765 non-null  object
 11  MaturityDate_Original                   222765 non-null  object
 12  MaturityDate_Last                       222765 non-null  object
 13  ApplicationSignedHour                   222765 non-null  int64
 14  ApplicationSignedWeekday                222765 non-null  int64
 15  VerificationType                        222765 non-null  int64
 16  LanguageCode                            222765 non-null  int64
 17  Age                                     222765 non-null  int64
 18  Gender                                  222765 non-null  int64
 19  Country                                 222765 non-null  object
 20  AppliedAmount                           222765 non-null  int64
 21  Amount                                  222765 non-null  int64
 22  Interest                                222765 non-null  float64
 23  LoanDuration                            222765 non-null  int64
 24  MonthlyPayment                          222765 non-null  float64
 25  UseOfLoan                               222765 non-null  int64
 26  Education                               222765 non-null  int64
 27  MaritalStatus                           222765 non-null  int64
 28  EmploymentStatus                        222765 non-null  int64
 29  EmploymentDurationCurrentEmployer       219901 non-null  object
 30  OccupationArea                          222765 non-null  int64
 31  HomeOwnershipType                       222765 non-null  int64
 32  IncomeTotal                             222765 non-null  float64
 33  ExistingLiabilities                     222765 non-null  int64
 34  LiabilitiesTotal                        222765 non-null  float64
 35  RefinanceLiabilities                    222765 non-null  int64
 36  DebtToIncome                            222765 non-null  int64
 37  FreeCash                                222765 non-null  int64
 38  MonthlyPaymentDay                       222765 non-null  int64
 39  ActiveScheduleFirstPaymentReached       222765 non-null  bool
 40  LastPaymentOn                           219820 non-null  object
 41  CurrentDebtDaysPrimary                  89905 non-null   float64
 42  DebtOccuredOn                           89905 non-null   object
 43  CurrentDebtDaysSecondary                96607 non-null   float64
 44  DebtOccuredOnForSecondary               96607 non-null   object
 45  ExpectedLoss                            222765 non-null  float64
 46  LossGivenDefault                        222765 non-null  float64
 47  ExpectedReturn                          222765 non-null  float64
 48  ProbabilityOfDefault                    222765 non-null  float64
 49  DefaultDate                             80382 non-null   object
 50  PrincipalOverdueBySchedule              222485 non-null  float64
 51  PlannedPrincipalPostDefault             80382 non-null   float64
 52  PlannedInterestPostDefault              80382 non-null   float64
 53  EAD1                                    80380 non-null   float64
 54  EAD2                                    80380 non-null   float64
 55  PrincipalRecovery                       80382 non-null   float64
 56  InterestRecovery                        80382 non-null   float64
 57  RecoveryStage                           151330 non-null  float64
 58  StageActiveSince                        159877 non-null  float64
 59  Rating                                  222765 non-null  object
 60  Status                                  222765 non-null  object
 61  Restructured                            222765 non-null  bool
 62  WorseLateCategory                       160062 non-null  object
 63  CreditScoreEsMicroL                     220145 non-null  object
 64  CreditScoreFiAsiakasTietoRiskGrade      83659 non-null   float64
 65  CreditScoreEeMini                       119790 non-null  float64
 66  PrincipalPaymentsMade                   222765 non-null  float64
 67  InterestAndPenaltyPaymentsMade          222765 non-null  float64
 68  PrincipalWriteOffs                      56354 non-null   float64
 69  InterestAndPenaltyWriteOffs             56354 non-null   float64
 70  PrincipalBalance                        222765 non-null  float64
 71  InterestAndPenaltyBalance               124838 non-null  float64
 72  NoOfPreviousLoansBeforeLoan             222760 non-null  float64
 73  AmountOfPreviousLoansBeforeLoan         222760 non-null  float64
 74  PreviousRepaymentsBeforeLoan            121375 non-null  float64
 75  PreviousEarlyRepaymentsCountBeforeLoan  222760 non-null  float64
 76  GracePeriodStart                        74628 non-null   object
 77  GracePeriodEnd                          74628 non-null   object
dtypes: bool(3), float64(31), int64(24), object(20)
memory usage: 128.1+ MB

Tiến hành xử lí dữ liệu
1. Giải nghĩa dữ liệu cho các biến

In [8]:
Loan_Application= Data[['LoanNumber','AppliedAmount','VerificationType']]
Loan_Application.head()

   LoanNumber  AppliedAmount  VerificationType
0     2141449           6911                 4
1     2215884            531                 4
2     2152674            531                 4
3     2197030            531                 4
4     2326664           2339                 4

In [9]:
Data.VerificationType.value_counts()

4    182156
1     40609
Name: VerificationType, dtype: int64

In [10]:
#Cột VerificationType
Data.loc[Data['VerificationType'] == 0.0,'VerificationType'] = 'NotSet'
Data.loc[Data['VerificationType'] == 1.0,'VerificationType'] = 'NotVertified'
Data.loc[Data['VerificationType'] == 2.0,'VerificationType'] = 'VerifiedByPhone'
Data.loc[Data['VerificationType'] == 3.0,'VerificationType'] = 'VerifiedByOtherDocument'
Data.loc[Data['VerificationType'] == 4.0,'VerificationType'] = 'VerifiedByBankStatement'

In [11]:
Loan_Application= Data[['LoanNumber','AppliedAmount','VerificationType']]
Loan_Application.head()

   LoanNumber  AppliedAmount         VerificationType
0     2141449           6911  VerifiedByBankStatement
1     2215884            531  VerifiedByBankStatement
2     2152674            531  VerifiedByBankStatement
3     2197030            531  VerifiedByBankStatement
4     2326664           2339  VerifiedByBankStatement

In [12]:
Data.Gender.value_counts()

0    126612
1     83738
2     12415
Name: Gender, dtype: int64

In [13]:
Borrower= Data[["LoanNumber", 'Age', 'Gender','Education',
       'HomeOwnershipType']]
Borrower.head(10)

   LoanNumber  Age  Gender  Education  HomeOwnershipType
0     2141449   25       0          4                  1
1     2215884   24       0          1                  3
2     2152674   33       0          3                  1
3     2197030   33       0          3                  1
4     2326664   24       0          1                  3
5     1078323   42       0          4                  3
6     2233799   45       0          4                  1
7     2114468   47       1          4                  1
8     2483028   47       0          3                  3
9     2296103   47       0          3                  3

In [14]:
#Cột Gender
Data.loc[Data['Gender'] == 0.0,'Gender'] = 'Male'
Data.loc[Data['Gender'] == 1.0,'Gender']= 'Female'
Data.loc[Data['Gender'] == 2.0,'Gender'] = 'Unknown'

In [18]:
Borrower= Data[["LoanNumber", 'Age', 'Gender','Education',
       'HomeOwnershipType']]
Borrower.head(10)

   LoanNumber  Age  Gender   Education HomeOwnershipType
0     2141449   25    Male   Secondary             Owner
1     2215884   24    Male     Primary   TenantFurnished
2     2152674   33    Male  Vocational             Owner
3     2197030   33    Male  Vocational             Owner
4     2326664   24    Male     Primary   TenantFurnished
5     1078323   42    Male   Secondary   TenantFurnished
6     2233799   45    Male   Secondary             Owner
7     2114468   47  Female   Secondary             Owner
8     2483028   47    Male  Vocational   TenantFurnished
9     2296103   47    Male  Vocational   TenantFurnished

In [14]:
Data.LanguageCode.value_counts()

1     91268
4     82786
3     27520
6     18836
2      2112
19      239
22        3
9         1
Name: LanguageCode, dtype: int64

In [15]:
#Cột LanguageCode
Data.loc[~Data['LanguageCode'].isin([1, 2, 3, 4, 5, 6, 9,19,22]), 'LanguageCode'] = 'Others'
language_code = {1: 'Estonian', 2: 'English', 3: 'Russian', 4: 'Finnish', 5: 'German', 6: 'Spanish', 9: 'Slovakian', 19: "Finland", 22:"Salvador"}
Data['LanguageCode'] = Data['LanguageCode'].replace(language_code)

In [16]:
Data.LanguageCode.value_counts()

Estonian     91268
Finnish      82786
Russian      27520
Spanish      18836
English       2112
Finland        239
Salvador         3
Slovakian        1
Name: LanguageCode, dtype: int64

In [17]:
Data.Education.value_counts()

 4    70387
 3    66742
 5    50119
 1    31374
-1     2976
 2     1167
Name: Education, dtype: int64

In [16]:
# Cột Education
Education_list={1: 'Primary', 2: 'Basic', 3: 'Vocational',4:"Secondary", 5: "Higher", 0: "Unknown", -1: "Unknown" }
Data.Education= Data.Education.replace(Education_list)

In [19]:
Data.MaritalStatus.value_counts()

-1    222765
Name: MaritalStatus, dtype: int64

In [20]:
#Cột MarritalStatus
Marrital_list= {1:"Married", 2: "Cohabitant", 3: "Single", 4: "Divorced", 5: "Widow", 0:"NotSpecified", -1: "NotSpecified" }
Data.MaritalStatus= Data.MaritalStatus.replace(Marrital_list)
# Cột EmploymentStatus
Employment_list= {1: "UnEmployed", 2: "Partially Employed", 3:"Fully Employed", 4:"Self Employed", 5: "Entrepreneur", 6:"Retiree", -1: " Unknown", 0: "Unknown"  }
Data.EmploymentStatus= Data.EmploymentStatus.replace(Employment_list)

In [21]:
Data.EmploymentDurationCurrentEmployer.value_counts()

MoreThan5Years    80813
UpTo5Years        63343
UpTo1Year         41430
Retiree           16038
Other             15795
UpTo2Years          947
UpTo3Years          864
UpTo4Years          517
TrialPeriod         154
Name: EmploymentDurationCurrentEmployer, dtype: int64

In [17]:
#Cột EmploymentDurationCurrentEmployer- Thay thế các giá trị null bằng Unknown
Data.EmploymentDurationCurrentEmployer= Data.EmploymentDurationCurrentEmployer.fillna("unknown")
# Cột HomeOwnershipType
HomeOwner_list= {0: "Homeless", 1: "Owner", 2:'LivingWithParents',3: 'TenantFurnished', 4:"TenantUnfurnished", 5:"CouncilTenant", 6:"JointTenant", 7: "JointOwner",
8:"OwnerMortgage", 9:'OwnerEncumbrance',10: "Other" ,-1:" Unknown"}
Data.HomeOwnershipType= Data.HomeOwnershipType.replace(HomeOwner_list)

In [24]:
# Cột UseOfLoan
Use_list= {-1: "NotSet", 0:'Loan consolidation',1:'Real estate',2:'Home improvement',3:'Business',4:'Education', 5: 'Travel',6: 'Vehicle',
7: 'Other',8:'Health', 101:'Working capital financing',102:'Purchase of machinery equipment',104:'Accounts receivable financing',
106: 'Construction finance', 107:'Acquisition of stocks', 108:'Acquisition of real estate', 101:'Other business'}
Data.UseOfLoan= Data.UseOfLoan.replace(Use_list)
# Cột OccupationArea
Are_list= {1:"Other", 2:'Mining',3: 'Processing', 4:'Energy',5:'Utilities', 7: 'Retail_and_wholesale',6:'Construction', 8:'Transport_and_warehousing',
9: 'Hospitality and catering',10: 'Info and telecom',11:'Finance and insurance',12: 'Real estate',13:'Research',14:'Administrative',15:'Civil service and military',16:'Education',17:'Healthcare and social help',
18:'Art and entertainment',19:'Agriculture forestry and fishing',-1:'NotSpecified',0:'NotSpecified'}
Data.OccupationArea=Data.OccupationArea.replace(Are_list)

In [25]:
Data.WorseLateCategory.value_counts()

180+       73784
44933      36718
31-60      14339
16-30      12325
45153      10863
61-90       5510
91-120      2753
121-150     1974
151-180     1796
Name: WorseLateCategory, dtype: int64

In [26]:
# Cột WorseLateCategory - Thay thế các giá trị null và giá trị 44933,45153 về giá trị 0-15
Worselist= {"44933": "0-15", "45153" : "0-15"}
Data.WorseLateCategory= Data.WorseLateCategory.replace(Worselist)
Data.WorseLateCategory.fillna("0-15", inplace= True)

In [27]:
# Cột NewCreditCustomer
Data.loc[Data['NewCreditCustomer'] == False,'NewCreditCustomer'] = 'Existing Credit Customer'
Data.loc[Data['NewCreditCustomer'] == True,'NewCreditCustomer'] = 'New Credit Customer'
# Cột Restructured
Data.loc[Data['Restructured'] == False,'Restructured']='No'
Data.loc[Data['Restructured'] == True,'Restructured']='Yes'
# Cột ActiveScheduleFirstPaymentReache
Data.loc[Data['ActiveScheduleFirstPaymentReached'] == False,'ActiveScheduleFirstPaymentReached']='No'
Data.loc[Data['ActiveScheduleFirstPaymentReached'] == True,'ActiveScheduleFirstPaymentReached']='Yes'

In [19]:
Borrower_credit = Data[['LoanNumber','NewCreditCustomer', 'IncomeTotal'
       ]]
Borrower_credit.head(10)

   LoanNumber  NewCreditCustomer  IncomeTotal
0     2141449               True       1200.0
1     2215884               True        600.0
2     2152674              False       1200.0
3     2197030              False       1200.0
4     2326664              False        600.0
5     1078323              False       2570.0
6     2233799              False       1850.0
7     2114468              False       1500.0
8     2483028              False       1250.0
9     2296103              False       1250.0

Sau quá trình kiểm tra các cột chứa giá trị null và thay thế các giá trị đánh giá, tiến hành lưu dữ liệu và phân tách dữ liệu.

In [28]:
Data.to_csv("Loan.csv", index= False)